In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
shipments = pd.read_excel("01-OR-RS-homework-data-template.xlsx", sheet_name='df_shipments')
shipments

,shipment_id,weight_kg,pallet,origin_region,destination_region,ready_time_local,due_time_local
0,1,600,2,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
1,2,900,3,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
2,3,1200,4,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
3,4,1500,5,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
4,5,1800,6,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
5,6,2100,7,LAX,ORD,2024-05-09 14:00:00,2024-05-16 14:00:00
6,7,2400,8,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
7,8,2700,9,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
8,9,3000,10,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
9,10,3000,10,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
10,11,2700,9,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
11,12,2400,8,LAX,ORD,2024-05-10 11:00:00,2024-05-17 11:00:00
12,13,2100,7,LAX,ATL,2024-05-09 10:00:00,2024-05-13 10:00:00
13,14,2400,8,LAX,ATL,2024-05-09 11:00:00,2024-05-15 10:00:00
14,15,4800,16,LAX,ATL,2024-05-10 11:00:00,2024-05-17 11:00:00
15,16,5100,17,LAX,ATL,2024-05-10 11:00:00,2024-05-17 11:00:00
16,17,8100,27,LAX,DFW,2024-05-09 11:00:00,2024-05-16 11:00:00
17,18,3300,11,LAX,DFW,2024-05-10 11:00:00,2024-05-17 11:00:00
18,19,4500,15,LAX,DFW,2024-05-10 11:00:00,2024-05-17 11:00:00
19,20,6300,21,LAX,DFW,2024-05-09 11:00:00,2024-05-16 11:00:00

In [3]:
schedule = pd.read_excel("01-OR-RS-homework-data-template.xlsx", sheet_name='df_schedule')
schedule

,carrier_id,origin_region,destination_region,scheduled_depart_weekday_time_local,travel_hrs_with_timezone_offset,truck_type,rate_type,rate_break
0,1234,LAX,ORD,"[(1, 20:00), (2, 20:00), (3, 20:00), (4, 20:00...",48,1,FTL,5000
1,1235,LAX,ORD,"[(1, 20:00), (2, 20:00), (3, 20:00), (4, 20:00...",60,1,LTL,"[{0: 0.5, 1000: 0.48, 3000: 0.46}]"
2,1234,LAX,DFW,"[(1, 12:00), (2, 12:00), (3, 12:00), (4, 12:00...",30,1,FTL,4200
3,1237,LAX,DFW,"[(1, 12:00), (2, 12:00), (3, 12:00), (4, 12:00...",42,1,LTL,"[{0: 0.4, 1000: 0.39, 3000: 0.38}]"
4,1234,ORD,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2500
5,1239,ORD,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",24,1,LTL,"[{0: 0.25, 1000: 0.25, 3000: 0.24}]"
6,1234,DFW,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2600
7,1241,DFW,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",24,1,LTL,"[{0: 0.26, 1000: 0.26, 3000: 0.25}]"
8,1234,LAX,ATL,"[(1, 20:00), (3, 20:00), (5, 20:00)]",50,1,FTL,6000

In [4]:
capacity = pd.read_excel("01-OR-RS-homework-data-template.xlsx", sheet_name='df_capacity')
capacity

   id       short_name  max_weight_kgs  max_pallet_count
0   1  53-foot Dry Van           20000                35

In [5]:
output = pd.read_excel("01-OR-RS-homework-data-template.xlsx", sheet_name='df_output')
output

,shipment_id,leg_id,origin_region,destination_region,depart_time_local,drop_time_local,carrier_id,truck_id,share_of_cost_based_on_weight,met_otp
0,17,0,LAX,DFW,2024-05-09 12:00:00,2024-05-10 18:00:00,1234,LAX-DFW-FTL-20240509-0,#,1.0
1,14,0,LAX,DFW,2024-05-09 12:00:00,2024-05-10 18:00:00,1234,LAX-DFW-FTL-20240509-0,#,NaN
2,14,1,DFW,ATL,2024-05-13 14:00:00,2024-05-14 14:00:00,1241,DFW-ATL-LTL-20240513-0,#,1.0

In [6]:
import pyomo.environ as pyo
from pyomo.opt import SolverFactory

In [7]:
#number of shipments
n=shipments.shape[0]
#number of linehaul lanes
m=schedule.shape[0]

BUSINESS VARIABLES

In [8]:
schedule[schedule['rate_type']=='FTL'].head()

,carrier_id,origin_region,destination_region,scheduled_depart_weekday_time_local,travel_hrs_with_timezone_offset,truck_type,rate_type,rate_break
0,1234,LAX,ORD,"[(1, 20:00), (2, 20:00), (3, 20:00), (4, 20:00...",48,1,FTL,5000
2,1234,LAX,DFW,"[(1, 12:00), (2, 12:00), (3, 12:00), (4, 12:00...",30,1,FTL,4200
4,1234,ORD,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2500
6,1234,DFW,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2600
8,1234,LAX,ATL,"[(1, 20:00), (3, 20:00), (5, 20:00)]",50,1,FTL,6000

In [9]:
# #SHIPMENTS data as list
# shipment_ids=shipments['shipment_id'].to_list()
# print(shipment_ids)

# weights=shipments['weight_kg'].to_list()
# print(weights)

# pallets=shipments['pallet'].to_list()
# print(pallets)

# origin_regions=shipments['origin_region'].to_list()
# print(origin_regions)

# destination_regions=shipments['destination_region'].to_list()
# print(destination_regions)

# ready_times=pd.to_datetime(shipments['ready_time_local']).to_list()
# print(ready_times)

# due_times=pd.to_datetime(shipments['due_time_local']).to_list()
# print(due_times)

In [10]:
# #SCHEDULE data as lists
# carrier_ids=schedule['carrier_id'].to_list()
# print(carrier_ids)

# schedule_origins=schedule['origin_region'].to_list()
# print(schedule_origins)

# schedule_destinations=schedule['destination_region'].to_list()
# print(schedule_destinations)

# schedule_depart_times=schedule['scheduled_depart_weekday_time_local'].to_list()
# print(schedule_depart_times)

# schedule_travel_times=schedule['travel_hrs_with_timezone_offset'].to_list()
# print(schedule_travel_times)

# truck_types=schedule['truck_type'].to_list()
# print(truck_types)

# rate_types=schedule['rate_type'].to_list()
# print(rate_types)

# rate_breaks=schedule['rate_break'].to_list()
# print(rate_breaks)

In [11]:
# # CAPACITY data as lists
# max_weights=capacity['max_weight_kgs'].to_list()
# print(max_weights)

# max_pallets=capacity['max_pallet_count'].to_list()
# print(max_pallets)

## DEFINE THE SETS AND VARIABLES

In [12]:
import pyomo.environ as pyo
from pyomo.opt import SolverFactory
model=pyo.ConcreteModel()

In [13]:
# Define sets
model.SHIPMENTS = pyo.Set(initialize=shipments['shipment_id'].tolist())
model.LINEHAULS = pyo.Set(initialize=schedule.index.tolist())

In [14]:
# Parameters
shipment_weight = dict(zip(shipments['shipment_id'], shipments['weight_kg']))
print(shipment_weight)

shipment_pallet = dict(zip(shipments['shipment_id'], shipments['pallet']))
print(shipment_pallet)

shipment_ready_time = dict(zip(shipments['shipment_id'], pd.to_datetime(shipments['ready_time_local'])))
print(shipment_ready_time)

shipment_due_time = dict(zip(shipments['shipment_id'], pd.to_datetime(shipments['due_time_local'])))
print(shipment_due_time)

#schedule_cost = dict(zip(schedule.index, schedule['rate_break'].apply(lambda x: x[0] if isinstance(x, list) else x)))
#print(schedule_cost)

schedule_travel_time = dict(zip(schedule.index, schedule['travel_hrs_with_timezone_offset']))
#print(schedule_travel_time)

{1: 600, 2: 900, 3: 1200, 4: 1500, 5: 1800, 6: 2100, 7: 2400, 8: 2700, 9: 3000, 10: 3000, 11: 2700, 12: 2400, 13: 2100, 14: 2400, 15: 4800, 16: 5100, 17: 8100, 18: 3300, 19: 4500, 20: 6300}
{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 10, 11: 9, 12: 8, 13: 7, 14: 8, 15: 16, 16: 17, 17: 27, 18: 11, 19: 15, 20: 21}
{1: Timestamp('2024-05-09 14:00:00'), 2: Timestamp('2024-05-09 14:00:00'), 3: Timestamp('2024-05-09 14:00:00'), 4: Timestamp('2024-05-09 14:00:00'), 5: Timestamp('2024-05-09 14:00:00'), 6: Timestamp('2024-05-09 14:00:00'), 7: Timestamp('2024-05-10 11:00:00'), 8: Timestamp('2024-05-10 11:00:00'), 9: Timestamp('2024-05-10 11:00:00'), 10: Timestamp('2024-05-10 11:00:00'), 11: Timestamp('2024-05-10 11:00:00'), 12: Timestamp('2024-05-10 11:00:00'), 13: Timestamp('2024-05-09 10:00:00'), 14: Timestamp('2024-05-09 11:00:00'), 15: Timestamp('2024-05-10 11:00:00'), 16: Timestamp('2024-05-10 11:00:00'), 17: Timestamp('2024-05-09 11:00:00'), 18: Timestamp('2024-05-10 11:00:00'), 19: Timestamp('2024-05-10 11:00:00'), 20: Timestamp('2024-05-09 11:00:00')}
{1: Timestamp('2024-05-16 14:00:00'), 2: Timestamp('2024-05-16 14:00:00'), 3: Timestamp('2024-05-16 14:00:00'), 4: Timestamp('2024-05-16 14:00:00'), 5: Timestamp('2024-05-16 14:00:00'), 6: Timestamp('2024-05-16 14:00:00'), 7: Timestamp('2024-05-17 11:00:00'), 8: Timestamp('2024-05-17 11:00:00'), 9: Timestamp('2024-05-17 11:00:00'), 10: Timestamp('2024-05-17 11:00:00'), 11: Timestamp('2024-05-17 11:00:00'), 12: Timestamp('2024-05-17 11:00:00'), 13: Timestamp('2024-05-13 10:00:00'), 14: Timestamp('2024-05-15 10:00:00'), 15: Timestamp('2024-05-17 11:00:00'), 16: Timestamp('2024-05-17 11:00:00'), 17: Timestamp('2024-05-16 11:00:00'), 18: Timestamp('2024-05-17 11:00:00'), 19: Timestamp('2024-05-17 11:00:00'), 20: Timestamp('2024-05-16 11:00:00')}
{0: 48, 1: 60, 2: 30, 3: 42, 4: 18, 5: 24, 6: 18, 7: 24, 8: 50}

In [15]:
def parse_rate_break(rate_break):
    if isinstance(rate_break, str):
        rate_break = eval(rate_break)
    if isinstance(rate_break, list):
        rate_break = rate_break[0]
    return rate_break

In [16]:
schedule['parsed_rate_break'] = schedule['rate_break'].apply(parse_rate_break)
schedule

,carrier_id,origin_region,destination_region,scheduled_depart_weekday_time_local,travel_hrs_with_timezone_offset,truck_type,rate_type,rate_break,parsed_rate_break
0,1234,LAX,ORD,"[(1, 20:00), (2, 20:00), (3, 20:00), (4, 20:00...",48,1,FTL,5000,5000
1,1235,LAX,ORD,"[(1, 20:00), (2, 20:00), (3, 20:00), (4, 20:00...",60,1,LTL,"[{0: 0.5, 1000: 0.48, 3000: 0.46}]","{0: 0.5, 1000: 0.48, 3000: 0.46}"
2,1234,LAX,DFW,"[(1, 12:00), (2, 12:00), (3, 12:00), (4, 12:00...",30,1,FTL,4200,4200
3,1237,LAX,DFW,"[(1, 12:00), (2, 12:00), (3, 12:00), (4, 12:00...",42,1,LTL,"[{0: 0.4, 1000: 0.39, 3000: 0.38}]","{0: 0.4, 1000: 0.39, 3000: 0.38}"
4,1234,ORD,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2500,2500
5,1239,ORD,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",24,1,LTL,"[{0: 0.25, 1000: 0.25, 3000: 0.24}]","{0: 0.25, 1000: 0.25, 3000: 0.24}"
6,1234,DFW,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",18,1,FTL,2600,2600
7,1241,DFW,ATL,"[(1, 14:00), (2, 14:00), (3, 14:00), (4, 14:00...",24,1,LTL,"[{0: 0.26, 1000: 0.26, 3000: 0.25}]","{0: 0.26, 1000: 0.26, 3000: 0.25}"
8,1234,LAX,ATL,"[(1, 20:00), (3, 20:00), (5, 20:00)]",50,1,FTL,6000,6000

In [45]:
schedule['parsed_rate_break'][3]

{0: 0.4, 1000: 0.39, 3000: 0.38}

In [46]:
schedule['parsed_departure_time'] = schedule['departure_time'].apply(lambda x: datetime.strptime(x, "%H:%M").time())

KeyError: 'departure_time'

In [17]:
#PARAMETERS 

model.weight = pyo.Param(model.SHIPMENTS, initialize=shipment_weight)
model.pallet = pyo.Param(model.SHIPMENTS, initialize=shipment_pallet)


#model.ready_time = pyo.Param(model.SHIPMENTS, initialize=shipment_ready_time)
#model.due_time = pyo.Param(model.SHIPMENTS, initialize=shipment_due_time)
#model.cost = pyo.Param(model.LINEHAULS, initialize=schedule_cost)
#model.travel_time = pyo.Param(model.LINEHAULS, initialize=schedule_travel_time)

#model.crossdock_time = pyo.Param(initialize=4) 

model.ready_time = pyo.Param(model.SHIPMENTS, initialize={k: (v - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s') for k, v in shipment_ready_time.items()})
model.due_time = pyo.Param(model.SHIPMENTS, initialize={k: (v - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s') for k, v in shipment_due_time.items()})
model.travel_time = pyo.Param(model.LINEHAULS, initialize=dict(zip(schedule.index, schedule['travel_hrs_with_timezone_offset'])))

In [18]:
model.x=pyo.Var(model.SHIPMENTS, model.LINEHAULS, domain=pyo.Binary)
x=model.x

#model.y = pyo.Var(model.SHIPMENTS, model.LINEHAULS, model.LINEHAULS, domain=pyo.Binary)
#y=model.y

## define the objective function and trade off parameter

In [19]:
def calculate_ltl_cost(weight, rate_break):
    applicable_rate = max(rate_break.keys())
    for threshold, rate in sorted(rate_break.items()):
        if weight <= threshold:
            applicable_rate = rate
            break
    return weight * applicable_rate

In [20]:
#trade off parameter
alpha = 0.5 #adjust for balance between cost and OTP

In [21]:
def obj_rule(model):
    cost_term = sum(model.x[s, l] * (model.weight[s] / capacity.loc[0, 'max_weight_kgs']) * schedule['parsed_rate_break'][l] 
                    for s in model.SHIPMENTS for l in model.LINEHAULS if schedule.loc[l, 'rate_type'] == 'FTL') + \
                sum(model.x[s, l] * calculate_ltl_cost(model.weight[s], schedule['parsed_rate_break'][l])
                    for s in model.SHIPMENTS for l in model.LINEHAULS if schedule.loc[l, 'rate_type'] == 'LTL')
    
    otp_term = sum(model.x[s, l] * (model.due_time[s] - (model.ready_time[s] + model.travel_time[l] * 3600)) 
                   for s in model.SHIPMENTS for l in model.LINEHAULS if (model.due_time[s] - (model.ready_time[s] + model.travel_time[l] * 3600)) >= 0)
    
    return (1 - alpha) * cost_term - alpha * otp_term

model.obj = pyo.Objective(rule=obj_rule, sense=pyo.minimize)

## ADDING CONSTRAINTS TO THE MODEL

an assumption here is that one shipment can have a maximum of 3 routes used

In [33]:
def route_constraint(model, s):
    return sum(model.x[s, l] for l in model.LINEHAULS) <= 1
model.route_con = pyo.Constraint(model.SHIPMENTS, rule=route_constraint)

WARNING: Implicitly replacing the Component attribute route_con (type=<class
    'pyomo.core.base.constraint.IndexedConstraint'>) on block unknown with a
    new Component (type=<class
    'pyomo.core.base.constraint.IndexedConstraint'>). This is usually
    indicative of a modelling error. To avoid this warning, use
    block.del_component() and block.add_component().

In [34]:
def weight_constraint(model):
    return sum(model.weight[s] * model.x[s, l] for s in model.SHIPMENTS for l in model.LINEHAULS) <= capacity.loc[0, 'max_weight_kgs']
model.weight_con = pyo.Constraint(rule=weight_constraint)

WARNING: Implicitly replacing the Component attribute weight_con (type=<class
    'pyomo.core.base.constraint.ScalarConstraint'>) on block unknown with a
    new Component (type=<class
    'pyomo.core.base.constraint.AbstractScalarConstraint'>). This is usually
    indicative of a modelling error. To avoid this warning, use
    block.del_component() and block.add_component().

In [35]:
def pallet_constraint(model):
    return sum(model.pallet[s] * model.x[s, l] for s in model.SHIPMENTS for l in model.LINEHAULS) <= capacity.loc[0, 'max_pallet_count']
model.pallet_con = pyo.Constraint(rule=pallet_constraint)

WARNING: Implicitly replacing the Component attribute pallet_con (type=<class
    'pyomo.core.base.constraint.ScalarConstraint'>) on block unknown with a
    new Component (type=<class
    'pyomo.core.base.constraint.AbstractScalarConstraint'>). This is usually
    indicative of a modelling error. To avoid this warning, use
    block.del_component() and block.add_component().

In [36]:
# #def due_time_constraint(model, s):
# #    return model.due_time[s] >= (model.ready_time[s] + timedelta(hours=schedule_travel_time[l]) + timedelta(hours=4) if 'crossdock' in schedule.loc[l, 'destination_region'].lower() else timedelta(hours=schedule_travel_time[l]))
# #model.due_time_con = Constraint(model.SHIPMENTS, rule=due_time_constraint)

# #def due_time_constraint(model, s):
# #    return model.due_time[s] >= (model.ready_time[s] + timedelta(hours=model.travel_time[l]) + timedelta(hours=4)  if 'crossdock' in schedule.loc[l, 'destination_region'].lower() else timedelta(hours=model.travel_time[l]))
# #model.due_time_con = pyo.Constraint(model.SHIPMENTS, rule=due_time_constraint)

# def due_time_constraint(model, s):
#     for l1 in model.LINEHAULS:
#         for l2 in model.LINEHAULS:
#             if l1 != l2:
#                 model.due_time_con.add((s, l1, l2), model.due_time[s] >= model.ready_time[s] + timedelta(hours=model.travel_time[l1] + model.crossdock_time + model.travel_time[l2]) * model.y[s, l1, l2])
#             else:
#                 model.due_time_con.add((s, l1, l2), model.due_time[s] >= model.ready_time[s] + timedelta(hours=model.travel_time[l1]) * model.x[s, l1])

# #model.due_time_con = pyo.Constraint(model.SHIPMENTS, rule=due_time_constraint)

# model.due_time_con = pyo.ConstraintList()

# for s in model.SHIPMENTS:
#     due_time_constraint(model, s)

In [37]:
def due_time_constraint(model, s):
    return sum(model.ready_time[s] + model.travel_time[l] * 3600 * model.x[s, l] for l in model.LINEHAULS) <= model.due_time[s]
#model.due_time_con = Constraint(model.SHIPMENTS, rule=due_time_constraint)
#model.due_time_con = pyo.Constraint(model.SHIPMENTS, rule=due_time_constraint)
model.due_time_con = pyo.Constraint(model.SHIPMENTS, rule=due_time_constraint)

WARNING: Implicitly replacing the Component attribute due_time_con
    (type=<class 'pyomo.core.base.constraint.IndexedConstraint'>) on block
    unknown with a new Component (type=<class
    'pyomo.core.base.constraint.IndexedConstraint'>). This is usually
    indicative of a modelling error. To avoid this warning, use
    block.del_component() and block.add_component().

In [38]:
# def crossdock_constraint(model, s, l1, l2):
#     if l1 != l2:
#         return model.y[s, l1, l2] <= model.x[s, l1] + model.x[s, l2] - 1
#     return pyo.Constraint.Skip
# model.crossdock_con = pyo.Constraint(model.SHIPMENTS, model.LINEHAULS, model.LINEHAULS, rule=crossdock_constraint)

In [39]:
solver = SolverFactory('glpk')
results = solver.solve(model)
print(results)

Problem:
- Name: unknown
  Lower bound: -inf
  Upper bound: inf
  Number of objectives: 1
  Number of constraints: 43
  Number of variables: 181
  Number of nonzeros: 721
  Sense: minimize
Solver:
- Status: ok
  Termination condition: infeasible
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.048578739166259766

In [40]:
for i in model.SHIPMENTS:
    for j in model.LINEHAULS:
        if x[i,j]()==1:
            print(f"Shipment delivered from {i} using {j} = ", x[i,j]())

In [41]:
# Output
output = []
for s in model.SHIPMENTS:
    for l in model.LINEHAULS:
        if model.x[s, l].value > 0:
            output.append({
                'shipment_id': s,
                'leg_id': l,
                'origin_region': shipments.loc[shipments['shipment_id'] == s, 'origin_region'].values[0],
                'destination_region': schedule.loc[l, 'destination_region'],
                'depart_time_local': schedule.loc[l, 'scheduled_depart_weekday_time_local'][0][1].strftime('%Y-%m-%d %H:%M:%S'),
                'drop_time_local': (schedule.loc[l, 'scheduled_depart_weekday_time_local'][0][1] + timedelta(hours=schedule_travel_time[l])).strftime('%Y-%m-%d %H:%M:%S'),
                'carrier_id': schedule.loc[l, 'carrier_id'],
                'truck_id': f"{schedule.loc[l, 'origin_region']}-{schedule.loc[l, 'destination_region']}-FTL-{schedule.loc[l, 'scheduled_depart_weekday_time_local'][0][1].strftime('%Y%m%d')}-0",
                'share_of_cost_based_on_weight': (model.weight[s] / capacity.loc[0, 'max_weight_kgs']) * schedule['parsed_rate_break'][l] if schedule.loc[l, 'rate_type'] == 'FTL' else calculate_ltl_cost(model.weight[s], schedule['parsed_rate_break'][l]),
                'met_otp': (schedule.loc[l, 'scheduled_depart_weekday_time_local'][0][1] + timedelta(hours=schedule_travel_time[l])) <= model.due_time[s]
            })

output_df = pd.DataFrame(output)
print(output_df)

TypeError: '>' not supported between instances of 'NoneType' and 'int'